
body{
      
      background: rgb(243,110,5);
    background: linear-gradient(180deg, rgba(243,110,5,1) 0%, rgba(203,71,23,1) 65%);

 
height: 100%;

width: 100%;
  }

.navbar-collapse:not(.show) > .navbar-nav{
       visibility: hidden;
}
.company-slogan{
  margin: 0;
}
.navbar-brand > button{
  border-radius: 0px;
  padding: 15px;
  font-weight: normal;
}
.navbar-brand {
  font-weight: bold;
  font-size: 35px;
}
.banner-img{
 height: 274px;
}
.list-group{
  border-radius: 0;
  background-color: black;
 
}
.list-group li{
  background-color: black;
  color: #fff;
  padding: 15px;
  padding-left: 30px;
}
.list-group-item:not(:last-child){
 
  border-bottom: 1px dotted #fff;
}
.list-group-item{
  border: none;
}
.list-group .list-group-item:hover{
 background: rgb(221,88,21);
background: linear-gradient(180deg, rgba(221,88,21,1) 0%, rgba(178,48,25,0.9948354341736695) 62%);
}
.list-group .list-group-item:hover::before{
  content: '';
position: absolute;
top: 6px;
left: -16px;
width: 32px;
height: 74%;
background: rgb(221,88,21);
background: linear-gradient(180deg, rgba(221,88,21,1) 0%, rgba(178,48,25,0.9948354341736695) 62%);

transform: rotate(40deg);


}
p.title{
  color: #fc4b00;
  font-weight: bold;
  font-size: 20px;
}
.welcome-block p:not(.title){
   font-size: 12px;
     
}
.news-block >div p{
  font-size: 12px;
}
.form-block{
  background-color: #f6f6f6;
}
.custom-form input{
    border-radius: 0px;
}
.custom-form button{
  width: 100%;
  text-align: center;
  background: rgb(111,111,109);
background: linear-gradient(180deg, rgba(111,111,109,1) 0%, rgba(46,46,46,0.9864320728291317) 59%);
color: #fff;
border-radius: 0;
border-width: 2px;
border-color: #2e2e2e;
}
.custom-form button:hover{
  color: #fff;
}
.footer{
  background-color: #212121;
}
.container::after{
    content: '';
    background-color: #212121;
    height: 25%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }
  a.link{
      color: #21b6d6;
  }

  @media screen and (max-width:992px) {
      .custom-list{
          display: none;
      }
  }



